
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form action="" [formGroup]="userform" (ngSubmit)="onSubmitForm()">
            <div class="form-group">
                <label for="name">name</label>
                <input type="text" name="name" id="name" class="form-control" formControlName="name">
            </div>
            <div class="form-group">
                <label for="age">age</label>
                <input type="text" name="age" id="age" class="form-control" formControlName="age">
            </div>
            <div class="btns d-flex justify-content-between">
                <button class="btn btn-warning" type="reset"
                *ngIf="!canEdit"
                >Reset</button>
                <button class="btn btn-danger" type="submit"
                *ngIf="!canEdit"
                >submit</button>
                <button class="btn btn-success" type="button"
                *ngIf="canEdit"
                (click)="updateUser()"
                >Update</button>
            </div>
        </form>
    </div>
</div>
