<div class="row">
    <div class="col-md-6 offset-md-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersArray;index as i" [id]="user.id">
                    <td>{{i+1}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.age}}</td>
                    <td class="d-flex justify-content-between">
                        <button class="btn btn-warning" type="button"
                        [routerLink]="[user.id,'editUser']"
                        >Edit</button>
                        <button class="btn btn-danger" type="button"
                        (click)="deleteUser(user.id)"
                        >Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>